//===========================================================================================================================================================================================================
.generation {
	padding: 120px 0; // главные отступы блока
	background-color: #f7f7f7;
	// .generation__block
	&__block {
	}
	@media (max-width: 900px) {
		padding: 80px 0; // уменьшаем главные отступы
	}
	@media (max-width: 600px) {
		padding: 30px 0;
	}
}
