.slider {
	background-color: #f7f7f7;
	padding: 120px 0 60px 0;
	/* .slider__body */
	&__body {
	}

	/* .slider__item */
	&__item {
		text-align: center;
	}

	/* .slider__icon */
	&__icon {
		margin: 0px 0px 35px 0px;
	}

	/* .slider__title */
	&__title {
		color: #353738;
		font-size: 18px;
		font-weight: 700;
		margin: 0px 0px 20px 0px;
		span {
			font-weight: 300;
			color: #848789;
		}
	}

	/* .slider__text */
	&__text {
		text-align: center;
		color: #848789;
		font-size: 24px;
		font-style: italic;
		line-height: 34px;
	}
	@media (max-width: 767px) {
		padding: 50px 0 30px 0;
		&__icon {
			margin: 0px 0px 25px 0px;
		}
		&__title {
			margin: 0px 0px 15px 0px;
		}
	}
}
