//<МИКСИНЫ>======================================================================================================================================================================================================
@import "mixins.scss";
//</МИКСИНЫ>======================================================================================================================================================================================================

//<ШРИФТЫ>======================================================================================================================================================================================================

//<Подключаем шрифты>==============================================================================================================================================================================================
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap");
//</Подключаем шрифты>==============================================================================================================================================================================================

//<Шрифт по умолчанию>=================================================================================================================================================================================================
$fontfamily: "Lato";
//</Шрифт по умолчанию>=================================================================================================================================================================================================

//</ШРИФТЫ>==============================================================================================================================================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================================================================================================================================================
$minwidth: 320px;
//</ПЕРЕМЕННЫЕ>==================================================================================================================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>======================================================================================================================================================================================================
@import "null.scss";

body {
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>======================================================================================================================================================================================================

//<ОБОЛОЧКА>==================================================================================================================================================================================================================
.wrapper {
	overflow: hidden;
	min-height: 100%; // чтобы был на всю высоту
}
//</ОБОЛОЧКА>==================================================================================================================================================================================================================

//<ОСНОВНАЯ СЕТКА>==================================================================================================================================================================================================================
.container {
	max-width: 1130px; // ширина контента ограниченная - с учетом паддинга при масштабировании
	padding: 0px 15px; // чтобы не ударялся контент в края
	margin: 0px auto; // глобальная центровка контейнера
}
//</ОСНОВНАЯ СЕТКА>==================================================================================================================================================================================================================

//<ОСНОВНОЙ БЛОК>===========================================================================================================================================================================================================
.page {
	// это для первой картинки
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	@include flexbox(); // font-size: 0 для того чтобы скрыть фантомные отступы
	flex-direction: column;
}
.main-screen {
	flex: 1 0 100%; // позволяем ему увеличиваться но запрещаем уменьшатся и задаем базовое значение высота 100%
	position: relative;
	// .main-screen__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
//===========================================================================================================================================================================================================
.content {
}

// === общий блок заголовков
.block {
	text-align: center;
	// .block__icon
	&__icon {
		margin: 0px 0px 30px 0px;
	}
	// .block__title
	&__title {
		color: #353738;
		font-size: 18px;
		font-weight: 700;
		line-height: 24/18 * 1em; // 24px
		text-transform: uppercase;
		letter-spacing: 3.6px;
		margin: 0px 0px 18px 0px;
	}
	// .block__text
	&__text {
		color: #848789;
		font-size: 18px;
		line-height: 34/18 * 1em; // 34px
		// .block__text_j - для все инлайновых элементов выравнивание по формату и стрелка вниз
		&_j {
			text-align: justify;
			font-size: 16px;
			line-height: 30/16 * 1em; // 34px
			&:after {
				content: "";
				display: block;
				margin: 35px auto 0px auto;
				width: 50px;
				height: 1px;
				background-color: #ebebeb;
			}
		}
	}
	@media (max-width: 1500px) {
		&__text {
			&_j {
				&:after {
					margin: 15px auto 0px auto;
				}
			}
		}
	}
}
//===========================================================================================================================================================================================================

.item {
	height: 100%; // высота на всю высоту блока, по содержимому - иначе бэкгроунд не заполняет
	// чтобы он был по высоте как элемент колонка, правая колонка с большим контентом задает высоту
	display: block;
	position: relative;
	// .item__logo
	// логотип который при наведении срабатывает
	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include flexbox();
		flex-direction: column;
		@include anim(0.3s, 0s);
		justify-content: center;
		align-items: center;
		background-color: rgba(100, 194, 158, 0.5);
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		// этот спан для повторного использования ниже этого класса вместе с надписью
		span {
			margin: 10px 0px 0px 0px;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 2.8px;
			text-transform: uppercase;
			color: #eee;
		}
	}
	// .item__image

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	// при наведении на лого обращаемся к классу логотипа и включаем
	&:hover {
		.item__logo {
			opacity: 1;
			visibility: visible;
		}
	}
	@media (max-width: 1100px) {
		// включаем таким образом левый блок, т.к. у него нет высоты, которая задавалась соседним блоком
		height: auto;
		// высота задается паддингом нижним т.к. блок пустой
		padding: 0px 0px 70% 0px;
	}
}
//==========================================================================================================================================================================================================
.subscribe {
	// .subscribe__body
	&__body {
		padding: 110px 0;
		max-width: 534px;
		margin: 0px auto;
		text-align: center;
	}
	// .subscribe__logo
	&__logo {
		margin: 0px 0px 39px 0px;
	}
	// .subscribe__label
	&__label {
		color: #848789;
		font-size: 24px;
		font-style: italic;
		margin: 0px 0px 35px 0px;
	}
	// .subscribe__form
	&__form {
		@include flexbox();
	}
	// .subscribe__input
	&__input {
		flex: 1 1 auto;
		padding: 0px 8px 0px 0px;
		.input {
			width: 100%;
			height: 69px;
			border: 1px solid #d3d7d9;
			background-color: #ffffff;
			padding: 0px 28px;
			color: #929292;
			font-size: 20px;
			font-style: italic;
			&.focus {
				font-style: normal;
				color: #333;
			}
			&.err {
				border: 1px solid red;
			}
		}
	}
	// .subscribe__button
	&__button {
		flex: 0 0 126px;
	}
	// .subscribe__btn
	&__btn {
		width: 100%;
		height: 69px;
		line-height: 69px;
		color: #fff;
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 300;
		background-color: #64c29e;
	}
	@media (max-width: 750px) {
		&__body {
			padding: 50px 0;
		}
	}
	@media (max-width: 500px) {
		&__form {
			display: block;
		}
		&__input {
			padding: 0px 0px 8px 0px;
		}
	}
}
//</ОСНОВНОЙ БЛОК>===========================================================================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "ui.scss";
@import "header.scss";
@import "generation.scss";
@import "brands.scss";
@import "slider.scss";
@import "shop.scss";
@import "subscribe.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
